@font-face {
    font-family: "MUSEOSANSCYRL";
    src: url(../fonts/MUSEOSANSCYRL.OTF);
}
@font-face {
    font-family: "MUSEOSANSCYRL_0";
    src: url(../fonts/MUSEOSANSCYRL_0.OTF);
}
@font-face {
    font-family: "MUSEOSANSCYRL_1";
    src: url(../fonts/MUSEOSANSCYRL_1.OTF);
}
@font-face {
    font-family: "MUSEOSANSCYRL_2";
    src: url(../fonts/MUSEOSANSCYRL_2.OTF);
}
@font-face {
    font-family: "MUSEOSANSCYRL_3";
    src: url(../fonts/MUSEOSANSCYRL_3.OTF);
}

@font-face {
    font-family: "Appetite";
    src: url(../fonts/Appetite_New.otf);
}