$fontSize: .8vw;
*{
    margin: 0;
    padding: 0;
    color: #000;
    font-family: "MUSEOSANSCYRL_0";
}

button, 
button:active, 
button:focus {
    outline: none;
}

strong{
    font-family: "MUSEOSANSCYRL_3";
}
.bg{
    width: 100%;
    height: 52.5vw;
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
}
.generalWrap{
    position: relative;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $fontSize;
    width: 79vw;
    margin: 0 auto;
    margin-bottom: .5vw;
    padding-top: .6vw;
    position: relative;
    z-index: 4;
    
    button{
        width: 12vw;
        padding: 1vw $fontSize;
        display: flex;
        align-items: center;
        font-size: $fontSize;
        font-family: "MUSEOSANSCYRL_1";
        border-radius: 2vw;
        border: none;
        border-bottom: 0.2vw solid #ebeaea;
        background: #fff;
        justify-content: space-around;
        cursor: pointer;
        img{
            width: 1vw;
        }
    }
}
p.studio{
    margin-right: 5vw;
    line-height: .9vw;
}
.hearts{
    position: absolute;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 60vw;
    top: 0;
 }
.hearts img{
    position: absolute;
    
}
 
 .thumbnail{
     width: 18vw;
     left: 8vw;
     top: 15vw;
 }
 .thumbnail2{
     width: 8vw;
     right: 0;
     top: 10vw;
 }
.logo{
    margin-right: 1.4vw;
}
.logo img{
    width: 14.5vw;
}

.address{
    display: flex;
    align-items: center;
    margin-right: 2vw;
    letter-spacing: .06vw;
    img{
        width: 5.5vw;
        margin-right: .4vw;
    }

}
.callUs{
    margin-right: 3vw;
    >div{
        display: flex;
        align-items: center;
    }
}
.elipseGreen{
    width: .9vw;
    vertical-align: middle;
}
.phoneIcon, .timeIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8vw;
    height: 1.8vw;
    background: #fff;
    border-radius: 100%;
    margin: .4vw;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.25); 
box-shadow: 0px 0px 15px 0px rgba(135,135,135,0.25);
    img{
        width: .8vw;
    }
}
.phone p a{
    text-decoration: none;
    padding-left: .4vw;
    font-size: 1.3vw;
    font-family: "MUSEOSANSCYRL_2";
}
.phone span{
    font-size: .7vw;
    letter-spacing: .02vw;
    font-family: "MUSEOSANSCYRL_1";
    ;
}

.mapContainer{
    margin-top: 0.7vw;
}
.lookMap{
    text-transform: uppercase;
    text-decoration: none;
    color: red;
    border-bottom: 0.05vw dashed red;
    font-size: .7vw;
    letter-spacing: .008;
}
.lookMap:hover #map{
    display: block;
}
.mainMenu{
    position: relative;
    z-index: 2;
}
.menuList{
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin: 0 auto;
    background-color: #fff;
    border-radius: .3vw;
    margin-bottom: 2.5vw;
    -webkit-box-shadow: 0 1.5vw 0 -1vw rgba(255,255,255,0.4);
    -moz-box-shadow: 0 1.5vw 0 -1vw rgba(255,255,255,0.4);
    box-shadow: 0 1.5vw 0 -1vw rgba(255,255,255,0.4);
        
}
.menuList li{
    list-style: none;
    padding: 1vw;
    a{
        text-decoration: none;
        font-size: $fontSize;
    }

    
}
.menuList li a.activeNavLink{
    font-family: "MUSEOSANSCYRL_3";
}
.mainContent{
   position: relative;
   padding-left: 15vw;
   justify-content: space-between;
   z-index: 2;
}
.button{
    background: rgb(249,180,181);
    background: linear-gradient(180deg, rgba(249,180,181,1) 0%, rgba(245,162,165,1) 35%, rgba(241,151,155,1) 100%);
    border: none;
    border-radius: 6vw;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-bottom: .2vw solid #d7747a;
    color: #fff;
    text-transform: uppercase;
    font-size: $fontSize;
    padding-left: 3vw;
    -webkit-box-shadow: 0 2.5vw 3vw -2vw rgba(245, 148, 150, 0.6);
    -moz-box-shadow: 0 2.5vw 3vw -2vw rgba(245, 148, 150, 0.6);
    box-shadow: 0 2.5vw 3vw -2vw rgba(245, 148, 150, 0.6);
}
.leftContent{
    p{
        font-size: 2.5vw;
        padding-top: 3vw;
        margin-bottom: 2vw;
        font-family: "MUSEOSANSCYRL_1";
        line-height: 2.87vw;
    }
    ul{
        margin-bottom: 3vw;
        list-style-type: none;
        li{
            font-size: $fontSize;
            display: flex;
            align-items: center;
        }
    }
    ul li:before {
        content: '';
        display: inline-block;
        height: 1.8vw;
        width: 1.8vw;
        background-size: 1.8vw;
        background-image: url(../images/pinkDot.png);
        background-repeat: no-repeat;
    }
    button{
        width: 20vw;
        height: 4.8vw;

        img{
            width: 14vw;
            position: absolute;
            left: 12vw;
        }
    }
}
.clientCard{
    display: flex;
    align-items: center;
    position: relative;

    img.card{
        width: 44vw;
        z-index: 1;
        position: absolute;
        left: 21vw;
    }
    img.hint{
        width: 2vw;
        position: absolute;
        left: 38vw;
        bottom: 2vw;
        animation: radial-pulse 1s infinite;
        border-radius: 50%;
        z-index: 2;
    }
    img.shadowCard{
        position: absolute;
        width: 30vw;
        bottom: 4vw;
        left: -5vw;
        z-index: 0;
    }
}
.girl{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45vw;
}

.map{
    display: none;
    position: absolute;
    top: auto;
    z-index: 3;
}
.hintMessage{
    display: none;
    background-color: #fff;
    width: 6vw;
    border-radius: 1.8vw 1.8vw 0 0 ;
    font-size: $fontSize;
    text-align: center;
    padding: 1vw;
    position: absolute;
    left: 39vw;
    top: -13.5vw;
    -webkit-box-shadow: .4vw -.4vw 0 -1px rgba(153,153,153,0.12);
    -moz-box-shadow: .4vw -.4vw 0 -1px rgba(153,153,153,0.12);
    box-shadow: .4vw -.4vw 0 -1px rgba(153,153,153,0.12);
}
.hintMessageActive{
    display: block;
}
.bottomArrow{
    position: absolute;
    bottom: -9vw;
    left: 50%;
    margin-left: -3.5vw;
    
    img{
        width: 7vw;
    }
    
}

@keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    }
   
    100% {
      box-shadow: 0 0 0 2vw rgba(0, 0, 0, 0);
    }
}    

.popupWindow, .recievedWindow{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.popup{
    position: relative;
    width: 30vw;
    padding: 3vw 6vw ;
    background-image: url(../images/popupBG.png);
    border-radius: 4vw;
    text-align: center;
    border: 0.04vw solid #fbeeef;
    form{
        display: flex;
        flex-direction: column;
        padding: 0 1.5vw;
        input, select{
            margin-bottom: 1vw;
            border-radius: 2vw;
            padding: 1.5vw;
            border: 0.04vw solid #fbeeef;
            font-size: 1vw;
            z-index: 1;
        }
    }
    
    img.plant{
        position: absolute;
        left: 20vw;
        width: 10vw;


    }
    img.notebook{
        width: 15vw;
        position: absolute;
        right: 33vw;
        top: 11vw;
        z-index: 0;
    }
    h2{
        margin-bottom: .8vw;
        font-size: 1.2vw;
    }
    p{
        margin-bottom: 1vw;
        font-size: .8vw;
    }
    button{
        height: 4vw;
    }
    
}
.close {
    position: absolute;
    right: 1.5vw;
    top: 2.5vw;
    width: 3.5vw;
    height: 2.5vw;
    opacity: 0.3;
    }
    .close:hover {
    opacity: 1;
    }
    .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 1.5vw;
    width: .2vw;
    background-color: #333;
    }
    .close:before {
    transform: rotate(45deg);
    }
    .close:after {
    transform: rotate(-45deg);
}
.recieved{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 28vw;
    height: 16vw;
    background-image: url(../images/popupBG.png);
    border-radius: 2vw;
    img{
        width: 4vw;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    p{
        font-size: 1.6vw;
    }
}
.circleDone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: .2vw solid #ef888f;
    color: #ef888f;
    margin-bottom: 1vw;
    font-size: 2vw;
}